#project3
GOOGLE_API_KEY="GOOGLE_API_KEY"

PINECONE_API_KEY=pinecone-api-key

# Langfuse Configuration
LANGFUSE_SECRET_KEY="sk-lf-lanfuse secret key"
LANGFUSE_PUBLIC_KEY="pk-lf-langfuse public key"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

# RAG Configuration
KNOWLEDGE_FILE_PATH=knowledge/extended_clinic_manual.txt
PINECONE_NAMESPACE=namespace-1
EMBEDDING_MODEL=llama-text-embed-v2
RERANK_MODEL=bge-reranker-v2-m3

EHR_SERVER_PATH=/code/mcpserver/server.py
